﻿@model SiteLocaly.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Localy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="jumbotron">
        <h1>Connexion</h1>

        @using (Html.BeginForm("Authentification", "Connexion"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("Erreur")
            <hr />
            <br />
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Utilisateur" })
            <br />
            <br />

            @Html.TextBoxFor(m => m.Password, new { placeholder = "Mot de passe", type = "password" })
            <br />
            <br />
            <button type="submit" class="btn btn-success">Se connecter</button>
        }
    </div>
    <div class="container body-content">


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Localy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
