﻿@model SiteLocaly.Magasin
@{
    ViewBag.Title = "Articles";
}



<h3>Articles</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Libellé</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Quantite t in Model.Quantite.ToList())
        {
            <tr class="table-secondary">
                <th scope="row">
                    @t.Article.nom
                </th>
                <th scope="row">
                    @t.prix €
                </th>
            </tr>
        }
    </tbody>
</table>