﻿@model SiteLocaly.Magasin
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.nom</h2>

@Html.Partial("Article")


<h3>Contact</h3>
<p>Contacter le vendeur :</p>

<address>
    @Model.Vendeur.Utilisateur.nom <br />
    @Model.Adresse.intitule <br />
    @Model.Adresse.codePostal <br />
    <a href="@Model.Vendeur.Utilisateur.mail">@Model.Vendeur.Utilisateur.mail</a><br>
</address>


